<div class="jumbotron">
	<h2>Create</h2>

	<p>Create a domain.</p>
	<form class="form-horizontal">
	  <div class="form-group">
	  <label for="name" class="col-sm-2 control-label">Name</label>
	  <div class="col-sm-8">
	    <input ng-model="ctrl.domain.name" id="name" placeholder="Name" class="form-control"></input>
	  </div>
	  </div>
	  <div class="form-group">
	  <label for="url" class="col-sm-2 control-label">Base domain</label>
	  <div class="col-sm-8">
	    <input ng-model="ctrl.domain.baseDomain" id="baseDomain" ng-change="ctrl.previewBaseDomain()" ng-blur="ctrl.previewJSUrls()" placeholder="Base domain" class="form-control"></input><br>
	    <button type="submit" class="btn special" ng-disabled="this.loading" ng-click="ctrl.previewJSUrls(true)">Preview JS Urls</button>
	  </div>
	  </div>
	  <div ng-show="ctrl.previewedUrls.length > 0">
	  	<p>The following urls were identified. Select which urls to monitor.</p>
	  </div>
	  <div ng-repeat="url in ctrl.previewedUrls" class="form-group" class="">
	  	<input type="checkbox" id="check{{$index}}" ng-model="url.selected" style="margin-left:200px; margin-right:20px"></input> 
	  	<label for="check{{$index}}">{{url.url}}</label>
	  </div>
	  <div class="form-group">
	  <label for="url" class="col-sm-2 control-label">(Optional) Add another url</label>
	  <div class="col-sm-8">
	    <input ng-model="ctrl.domain.url" id="url" placeholder="" class="form-control"></input><br>
	  </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn special" ng-click="ctrl.addMultiple()">Create</button>
	      <button type="submit" class="btn btn-default" ui-sref="dashboard">Cancel</button>
	    </div>
	  </div>
		<span data-ng-show="ctrl.loading">
			<center><i class="fa fa-spinner fa-spin fa-3x"></i></center>
		</span>
	<p>{{ formError }}</p>
	</form>
</div>