<div class="jumbotron">
<header>
  <h2>Privacy Policy</h2>
</header>
<section class="wrapper style5">
  <div class="inner">
    <p>This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally Identifiable Information’ (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
    <h3>What personal information do we collect from the people that visit our blog, website or app?</h3>
    <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, phone number, credit card information or other details to help you with your experience.</p>
    <h3>When do we collect information?</h3>
    <p>We collect information from you when you register on our site or enter information on our site.</p>
    <h3>How do we use your information?</h3>
    <p>We may use the information we collect from you when you register, browse the website, or use certain other site features to process your transactions.</pre>
    <h3>How do we protect your information?</h3>
    <p>The security of your information is important to us. Our website is scanned and tested on a regular basis for security vulnerabilities and known vulnerabilities in order to make your visit to our site as safe as possible.</p>
    <p>We use regular Malware Scanning.</p>
    <p>Your personal information is contained behind secured networks, and all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
    <p>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>
    <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
    <h3>Do we use cookies?</h3>
    <p>Yes. Cookies are small files that a site or its service provider transfers to your computer’s hard drive through your Web browser (if you allow) that enables the site’s or service provider’s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to store your account sessions.</p>
    <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since each browser is a little different, look at your browser’s Help Menu to learn the correct way to modify your cookies.</p>
    <p>If you turn cookies off, you may be unable to use some features.</p>
    <h3>Third-party disclosure</h3>
    <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>
    <h3>Third-party links</h3>
    <p>We do not include or offer third-party products or services on our website.</p>
    <h3>California Online Privacy Protection Act</h3>
    <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law’s reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a></p>
    <p>According to CalOPPA, we agree to the following:
    Users can visit our site anonymously.
    Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
    Our Privacy Policy link includes the word ‘Privacy’ and can be easily be found on the page specified above.</p>
    <p>You will be notified of any Privacy Policy changes on our privacy policy page.</p>
    <p>You can change your personal information through your account, or by emailing us.</p>
    <h3>How does our site handle Do Not Track signals?</h3>
    <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
    <p>We do not allow third-party behavioral tracking.</p>
    <h3>COPPA (Children Online Privacy Protection Act)</h3>
    <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children’s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States’ consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children’s privacy and safety online.</p>
    <p>We do not specifically market to children under the age of 13 years old.</p>
    <h3>Fair Information Practices</h3>
    <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
    <p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>
    <p>We will notify you via email</p>
    <p>• Within 7 business days</p>
    <p>We will notify the users via in-site notification</p>
    <p>• Within 7 business days</p>
    <p>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
    <h3>CAN-SPAM Act</h3>
    <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
    <p>We collect your email address in order to send you updates on your transactions and payments.</p>
    <p>To be in accordance with CAN-SPAM, we agree to the following:
    <p>• Not use false or misleading subjects or email addresses.</p>
    <p>• Identify the message as an advertisement in some reasonable way.</p>
    <p>• Include the physical address of our business or site headquarters.</p>
    <p>• Monitor third-party email marketing services for compliance, if one is used.</p>
    <p>• Honor opt-out/unsubscribe requests quickly.
    <p>• Allow users to unsubscribe by using the link at the bottom of each email.</p>
    <p>If at any time you would like to unsubscribe from receiving future emails, you can follow the link at the bottom of emails, and we will promptly remove you from ALL correspondence.</p>
    <h3>Contacting Us</h3>
    <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
    <p><a href="http://filechangemonitor.io">http://filechangemonitor.io</a></p>
    <p><a href="mailto:support@lightningsecurity.io">support@lightningsecurity.io</a></p>
    <p>Last Edited on 2018-03-21</p>
  </div>
</section>
</div>