<div class="jumbotron">
<header>
<h2>Terms of Serivce</h2>
</header>
<section class="wrapper style5">
<div class="inner">
<p>1. Terms</p>
<p>By accessing the website at https://filechangemonitor.io, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
<p>2. Disclaimer</p>
<p>The materials on File Change Monitor's website are provided on an 'as is' basis. File Change Monitor makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.<br />Further, File Change Monitor does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>
<p>3. Limitations</p>
<p>In no event shall File Change Monitor or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on File Change Monitor's website, even if File Change Monitor or a File Change Monitor authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
<p>4. Accuracy of materials</p>
<p>The materials appearing on File Change Monitor's website could include technical, typographical, or photographic errors. File Change Monitor does not warrant that any of the materials on its website are accurate, complete or current. File Change Monitor may make changes to the materials contained on its website at any time without notice. However File Change Monitor does not make any commitment to update the materials.</p>
<p>5. Links</p>
<p>File Change Monitor has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by File Change Monitor of the site. Use of any such linked website is at the user's own risk.</p>
<p>6. Modifications</p>
<p>File Change Monitor may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
<p>7. Governing Law</p>
<p>These terms and conditions are governed by and construed in accordance with the laws of Illinois and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
<p>8. Refunds</p>
<p>By using File Change Monitor, you agree that all payments are non-refundable, unless decided otherwise by our sole discretion. If you have concerns, please email <a href="mailto:support@lightningsecurity.io">support@lightningsecurity.io</a>.</p>
</div>
</section>
</div>