<div class="jumbotron" ng-init="ctrl.fetchOne()">
  <h3>{{ctrl.domain.name}}</h3>
  <p>Domain ID: {{ctrl.domain._id}}</p>
  <button ui-sref="editDomain({ id: ctrl.domain._id })" class="btn">Edit</button>
  <button ui-sref="addFile({ id: ctrl.domain._id })" class="btn">Add File</button>
  <br><br>
  <table class="table table-striped table-bordered">
  <tr><th>Url</th><th>Actions</th></tr>
  <tr ng-repeat="url in ctrl.domain.files">
    <td class="col-md-8">
      <span ng-if="url.dynamic"><span style="margin-right: 10px;">{{url.baseUrl + '*.js'}}</span><ng-click="url.dynamic = !url.dynamic" class="fa alt fa-bolt" title="Dynamic file name" data-toggle="tooltip" data-placement="right" tooltip></i></span>
      <span ng-if="!url.dynamic">{{url.url}}</span>
    </td>
    <td class="col-md-4">
      <button ui-sref="viewFile({ id: url._id })" class="btn">View</button>
      <button class="btn btn-danger" ng-click="ctrl.deleteFile(url._id)">Delete</button>
    </td>
  </tr>
  </table>
</div>