<div class="jumbotron" ng-init="ctrl.fetchOne(); ctrl.fetchFileContents('urls')">
	<h2>File Information</h2>

	<p><a href="{{ctrl.file.url}}" target="_blank">{{ctrl.file.url}}</a></p>
	<p>File ID: {{ctrl.file._id}}</p>
	<p>Poll time: {{ctrl.file.pollTime}}</p>
	<p>Notify threshold: {{ctrl.file.notifyThreshold}}</p>
	<p>Notify threshold unit: {{ctrl.file.notifyThresholdUnit}}</p>
	<button ng-click="ctrl.reloadFile()" class="btn">Reload url</button>
  <button ui-sref="editFile({ id: ctrl.file._id })" class="btn">Edit</button>
	<span data-ng-show="ctrl.loading">
		<center><i class="fa fa-spinner fa-spin fa-3x"></i></center>
	</span>
  <br><br>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
	       				<a data-toggle="collapse" data-parent="#accordion" href="#urls">Relative URLs</a>
	      			</h4>
				</div>
				<div id="urls" class="">
					<div class="panel-body">
						<pre ng-bind-html="ctrl.fileContents[0] | to_trusted"></pre>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
	       				<a data-toggle="collapse" data-parent="#accordion" href="#urls-diff">Relative URLs diff</a>
	      			</h4>
				</div>
				<div id="urls-diff" class="">
					<div class="panel-body">
						<pre ng-bind-html="ctrl.fileContents[1] | to_trusted"></pre>
					</div>
				</div>
			</div>
		</div>
		<div>
		<a ng-if="ctrl.fileContents.length <= 2" ng-click="ctrl.fetchFileContents('full')" style="cursor:pointer">Load full file contents</a>
		</div>
		<div ng-if="ctrl.fileContents.length > 2" class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
	       				<a data-toggle="collapse" data-parent="#accordion" href="#contents">File contents</a>
	      			</h4>
				</div>
				<div id="contents" class="">
					<div class="panel-body">
						<pre ng-bind-html="ctrl.fileContents[2] | to_trusted"></pre>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="ctrl.fileContents.length > 2" class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
	       				<a data-toggle="collapse" data-parent="#accordion" href="#contents-diff">File contents diff</a>
	      			</h4>
				</div>
				<div id="contents-diff" class="">
					<div class="panel-body">
						<pre ng-bind-html="ctrl.fileContents[3] | to_trusted"></pre>
					</div>
				</div>
			</div>
		</div>
</div>