<div class="jumbotron" ng-init="ctrl.fetchOne(); ctrl.fetchFileContents()">
	<h2>Results</h2>

	<h3>{{ctrl.domain.name}}</h3>
	<p><a href="{{ctrl.domain.url}}" target="_blank">{{ctrl.domain.url}}</a></p>
	<p>Domain ID: {{ctrl.domain._id}}</p>
	<button ng-click="ctrl.reloadFile()" class="btn">Reload url</button><br><br>
	<br>
		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
	       				<a data-toggle="collapse" data-parent="#accordion" href="#contents">File contents</a>
	      			</h4>
				</div>
				<div id="contents" class="panel-collapse collapse">
					<div class="panel-body">
						<pre>{{ctrl.fileContents.data[0]}}</pre>
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
	       				<a data-toggle="collapse" data-parent="#accordion" href="#urls">Relative URLs</a>
	      			</h4>
				</div>
				<div id="urls" class="panel-collapse collapse">
					<div class="panel-body">
						<pre>{{ctrl.fileContents.data[2]}}</pre>
					</div>
				</div>
			</div>
		</div>
</div>